@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

:root {
    --background: #707070;
    --container: #D9D9D9;
    --input: #BCBCBC;
    --button-1: #737373;
    --button-2: #848484;
}

body, html {
    font-family: "Jura", sans-serif;

    background-color: var(--background);
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    overflow-x: clip;
    overflow-y: clip;
}

main {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.transition-fade {
    transition: 500ms;
    opacity: 1;
    transform: translateX(0);
    transform-origin: left;
}

.is-animating .transition-fade {
    opacity: 1;
    transform: translateX(100%);
}

.is-leaving .transition-fade {
    opacity: 0;
    transform: translateX(0);
}

.transition-fade-left {
    transition: 500ms;
    opacity: 1;
    transform: translateX(0);
    transform-origin: right;
}

.is-animating .transition-fade-left {
    opacity: 1;
    transform: translateX(-100%);
}

.is-leaving .transition-fade-left {
    opacity: 0;
    transform: translateX(0);
}