<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Gepetto</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

        {% load static %}
        <link rel="stylesheet" href="{% static 'main/style/style.css' %}">
        <script defer src="{% static 'main/scripts/swup.umd.js' %}"></script>
        <script defer src="{% static 'main/scripts/swup.js' %}"></script>
        <script defer src="{% static 'main/scripts/utils.js' %}"></script>
        <script defer src="{% static 'main/scripts/create-acc.js' %}"></script>
        <script defer src="{% static 'main/scripts/login.js' %}"></script>
        <script defer src="{% static 'main/scripts/app.js' %}"></script>
    </head>
    <body>
        <main id="swup" class="transition-fade">
            <div id="app-container">
                <div id="app-settings-bar">
                    <div class="app-settings-bar-group">
                        <div class="app-settings-bar-button">
                            <p id="app-settings-bar-expand-p">Collapse</p>
                            <i id="app-settings-bar-expand" class="fa-solid fa-angles-right"></i>
                        </div>
                    </div>
                    <div class="app-settings-bar-group">
                        <div class="app-settings-bar-button">
                            <p id="app-settings-bar-settings-p">Settings</p>
                            <i id="app-settings-bar-settings" class="fa-solid fa-gear"></i>
                        </div>
                        <div class="app-settings-bar-button">
                            <p id="app-settings-bar-logoff-p">Log out</p>
                            <i id="app-settings-bar-logoff" class="fa-solid fa-door-open"></i>
                        </div>
                    </div>
                </div>
                <div id="app-content">
                    <h1>Gepetto</h1>
                    <h2>Hmm, it's a bit empty here, isn't it? Maybe <u>let's create your first assistant?</u></h2>
                </div>
            </div>
            <link rel="stylesheet" href="{% static 'main/style/app.css' %}">
        </main>
    </body>
</html>