<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Gepetto</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

        {% load static %}
        <link rel="stylesheet" href="{% static 'main/style/style.css' %}">
        <script defer src="{% static 'main/scripts/swup.umd.js' %}"></script>
        <script defer src="{% static 'main/scripts/swup.js' %}"></script>
        <script defer src="{% static 'main/scripts/utils.js' %}"></script>
        <script defer src="{% static 'main/scripts/create-acc.js' %}"></script>
        <script defer src="{% static 'main/scripts/login.js' %}"></script>
        <script defer src="{% static 'main/scripts/app.js' %}"></script>
    </head>
    <body>
        <main id="swup" class="transition-fade">
            <div id="app-container">
                <div id="app-settings-bar">
                    <div class="app-settings-bar-group">
                        <div class="app-settings-bar-button">
                            <i id="app-settings-bar-home" class="fa-solid fa-home"></i>
                            <i id="app-settings-bar-expand" class="fa-solid fa-angles-right"></i>
                        </div>
                    </div>
                    <div class="app-settings-bar-group">
                        <div class="app-settings-bar-button">
                            <p id="app-settings-bar-settings-p">Settings</p>
                            <i id="app-settings-bar-settings" class="fa-solid fa-gear"></i>
                        </div>
                        <div class="app-settings-bar-button">
                            <p id="app-settings-bar-logoff-p">Log out</p>
                            <i id="app-settings-bar-logoff" class="fa-solid fa-door-open"></i>
                        </div>
                    </div>
                </div>
                <div id="app-content">
                    <h1>Create new assistant</h1>
                    <p id="create-assistant-error" class="hidden">AAAA</p>
                    <form id="create-assistant-form">
                        <div id="create-assistant-form-image">
                            <img id="create-assistant-form-profile-picture" src="https://placehold.co/150/707070/707070/png?text=a" alt="">
                            <p>Upload picture</p>
                        </div>
                        <div id="create-assistant-form-input">
                            <input type="text" name="name" id="create-assistant-form-name" placeholder="assistant name">
                            <textarea name="description" id="create-assistant-form-description" placeholder="description"></textarea>
                            <textarea name="response-style" id="create-assistant-form-response-style" placeholder="response style"></textarea>
                            <textarea name="tone" id="create-assistant-form-tone" placeholder="tone"></textarea>
                        </div>
                    </form>
                    <button id="create-assistant-submit">Create</button>
                    <canvas id="create-assistant-form-profile-picture-generator" style="display: none" height="150" width="150"></canvas>
                </div>
            </div>
            <script defer>
                const csrftoken = '{{ csrf_token }}';
            </script>
            <link rel="stylesheet" href="{% static 'main/style/create-assistant.css' %}">
            <link rel="stylesheet" href="{% static 'main/style/settings-app.css' %}">
        </main>
    </body>
</html>