<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Gepetto</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

        {% load static %}
        <link rel="stylesheet" href="{% static 'main/style/style.css' %}">
        <script defer src="{% static 'main/scripts/swup.umd.js' %}"></script>
        <script defer src="{% static 'main/scripts/swup.js' %}"></script>
        <script defer src="{% static 'main/scripts/utils.js' %}"></script>
        <script defer src="{% static 'main/scripts/create-acc.js' %}"></script>
        <script defer src="{% static 'main/scripts/login.js' %}"></script>
        <script defer src="{% static 'main/scripts/app.js' %}"></script>
        <script defer>
            const csrftoken = '{{ csrf_token }}';
        </script>
    </head>
    <body>
        <main id="swup" class="transition-fade">
            <div id="app-container">
                <div id="app-nav-bar">
                    <i class="fa-solid fa-clock-rotate-left selected"></i>
                    <i class="fa-solid fa-plus"></i>
                    <i class="fa-solid fa-gear"></i>
                </div>
            </div>
            <link rel="stylesheet" href="{% static 'main/style/m-app.css' %}">
        </main>
    </body>
</html>